body {
  margin: 0;
  font-family: IBM Plex Sans, sans-serif;
  background-color: #f4f4f4;
}

.user-message {
  background-color: #e5f1fb;
  border-radius: 12px;
  padding: 0.5rem;
}

.assistant-message {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 0.5rem;
}
